{% extends("MMPlatformBundle::layout.html.twig") %}

{% block title %}

Modifier une annonce - {{ parent() }}
  {% endblock %}

{% block mmplatform_body %}

<h2>Modifier une annonce</h2>

{{ include('MMPlatformBundle:Advert:form.html.twig') }}

<p>Editez une annonce déjà existante</p>

<p>
  <a href="{{ path('mm_platform_view', {'id': advert.id}) }}" class="btn btn-default">
    <i class="glyphicon glyphicon-chevron-left"></i>
    Retour à l'annonce
  </a>

</p>

{% endblock %}