{% extends "::layout.html.twig" %}

{% block title %}
  Annonces - {{ parent() }}
{% endblock %}

{% block body %}

  <h1>Annonces</h1>
  <h4>Vous trouverez certainement votre bonheur ici</h4>

  <hr>

  {% block mmplatform_body %}
  {% endblock %}

{% endblock %}